/*!


<!--            frontend-beeldbank - v2.0.4                     -->
<!--                                                            -->
<!--                                                            -->
<!-- ========================================================   -->
<!--                                                            -->
<!--                  .:::::::::::::::}}}}}}}                   -->
<!--                  .:::::::::::::::}}}}}}}                   -->
<!--                  .:::::::::::::::}}}}}}}                   -->
<!--              ````.:::::::::::::::::}}}}}``````             -->
<!--        ``.------------------::::::::::::::::}}}::.`        -->
<!--      `.---------------------::::::::::::::::}}}}}}}:`      -->
<!--     `-----------------------::::::::::::::::}}}}}}}}}.     -->
<!--     .-----------------------::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     -----------------::-----:::::::}::::::::}}}}}}}}}}     -->
<!--     ---------------:hmmd+---:::::smmmy::::::}}}}}}}}}}     -->
<!--     ---------------+MMMMy---:::::NMMMN}:::::}}}}}}}}}}     -->
<!--     ----------------oyhs:---:::::}yhy+::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------oso}}:::}}+sy}::::::::}}}}}}}}}}     -->
<!--     ------------------}oyhhdhhdhys+:::::::::}}}}}}}}}}     -->
<!--     -----------------------:::::::::::::::::}}}}}}}}}}     -->
<!--     ------------------------::::::::::::::::}}}}}}}}}}     -->
<!--     `-----------------------::::::::::::::::}}}}}}}}}.     -->
<!--      `.---------------------::::::::::::::::}}}}}}}:`      -->
<!--        `..-----------------::::::::::::::::}}}}::-`        -->
<!--             ``::::::::::::::::}}}}}}}}}}}}}}-`             -->
<!--              `::::::::::::::::}}}}}}}}}}}}}}.              -->
<!--              `::::::::::::::::}}}}}}}}}}}}}}.              -->
<!--                                                            -->
<!-- ========================================================   -->
<!--                                                            -->
	


*/
/*
Imports
---------------------------------------------------------------------------------------------------- */
/* Inclusie */
/* NLDS */
.gc-list-title {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
}
.stepnav {
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 20rem;
  position: relative;
}
.stepnav:before {
  position: absolute;
  margin-left: -100rem;
  margin-right: -100rem;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00b4ac;
  speak: none;
}
@media only screen and (min-width: 650px) {
  .stepnav {
    height: 26rem;
  }
}
@media only screen and (min-width: 960px) {
  .stepnav {
    height: 34rem;
    padding-bottom: 10rem;
  }
}
.stepnav__items {
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  counter-reset: stepnav;
  max-width: 960px;
  position: relative;
}
.stepnav__items:before,
.stepnav__items:after {
  position: absolute;
  display: block;
  content: " ";
  top: 50%;
  height: 5.5rem;
  width: auto;
  background: url('../images/b-stepnav.svg') 0 100% no-repeat;
  background-size: 350px auto;
  z-index: 15;
  speak: none;
  margin-top: -10rem;
}
.stepnav__items:before {
  right: 50%;
  left: 27.5%;
  background-position: 0 100%;
}
.stepnav__items:after {
  left: 50%;
  right: 29%;
  background-position: 100% 100%;
}
@media only screen and (min-width: 650px) {
  .stepnav__items {
    height: 11rem;
  }
  .stepnav__items:before,
  .stepnav__items:after {
    margin-top: -13rem;
  }
  .stepnav__items:before {
    left: 29%;
  }
  .stepnav__items:after {
    right: 29%;
  }
}
.stepnav__step {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
  display: block;
  counter-increment: stepnav;
}
.stepnav__step .stepnav__linktext:before {
  content: counter(stepnav) ". ";
}
.stepnav__step:before {
  content: " ";
  position: absolute;
  display: block;
  height: 0.5rem;
  top: 2.1rem;
  background: #f2ebe4;
  width: 100%;
  left: 50%;
  speak: none;
}
.stepnav__step:first-child:before,
.stepnav__step:nth-last-child(2):before {
  background: #00837D;
}
.stepnav__step:first-child:before {
  left: 50%;
}
.stepnav__step:last-child:before {
  display: none;
}
@media only screen and (min-width: 960px) {
  .stepnav__step:before {
    height: 0.7rem;
    top: 3.9rem;
  }
}
.stepnav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 5;
  text-decoration: none;
  padding-top: 1.2rem;
}
.stepnav__link:before {
  content: " ";
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  top: 0;
  left: 50%;
  margin-left: -2.75rem;
  background: #A4E9E6;
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: background 0.2s, -webkit-transform 0.2s;
  transition: background 0.2s, -webkit-transform 0.2s;
  transition: background 0.2s, transform 0.2s;
  transition: background 0.2s, transform 0.2s, -webkit-transform 0.2s;
  outline: 1rem solid #00b4ac;
}
@media only screen and (min-width: 960px) {
  .stepnav__link {
    padding-top: 1.4rem;
  }
  .stepnav__link:before {
    width: 8.4rem;
    height: 8.4rem;
    margin-left: -4.2rem;
    outline: 1.5rem solid #00b4ac;
  }
}
.stepnav__link span {
  position: relative;
  z-index: 1;
}
.stepnav__link:hover:before,
.stepnav__link:focus:before,
.stepnav__link.is-active:before {
  background: #fff;
}
.stepnav__link:hover .stepnav__linktext,
.stepnav__link:focus .stepnav__linktext,
.stepnav__link.is-active .stepnav__linktext {
  text-decoration: underline;
}
.stepnav__link:hover:before,
.stepnav__link:focus:before {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.stepnav__link:hover .icon--stepnav,
.stepnav__link:focus .icon--stepnav {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.icon--stepnav {
  display: inline-block;
  width: 3rem;
  height: 3.5rem;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, transform 0.2s;
  transition: background-color 0.2s, transform 0.2s, -webkit-transform 0.2s;
  fill: #6F99A3;
}
.is-active .icon--stepnav {
  color: #52757e;
}
@media only screen and (min-width: 960px) {
  .icon--stepnav {
    width: 5rem;
    height: 5.5rem;
  }
}
.stepnav__linktext {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
  color: #fff;
  margin-top: 2.5rem;
}
@media only screen and (max-width: calc(650px - 1px)) {
  .stepnav__linktext {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
}
.stepchart {
  position: relative;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 650px) {
  .stepchart {
    margin-top: -4rem;
  }
}
@media only screen and (min-width: 960px) {
  .stepchart {
    margin-top: -13rem;
  }
}
.stepchart__bg {
  position: relative;
}
.stepchart__bg > img {
  display: none;
}
@media only screen and (min-width: 650px) {
  .stepchart__bg > img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.entry-content .stepchart__items {
  margin: 0;
  padding: 0;
}
.stepchart__item {
  list-style: none;
}
@media only screen and (max-width: 650px) {
  .stepchart__item {
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 650px) {
  .stepchart__item {
    position: absolute;
    margin-top: -60px;
    margin-left: -70px;
  }
  .stepchart__item:first-child {
    top: 50%;
    left: 50%;
  }
  .stepchart__item:nth-child(2) {
    top: 30%;
    left: 28%;
  }
  .stepchart__item:nth-child(3) {
    top: 45.5%;
    right: 16%;
  }
  .stepchart__item:nth-child(4) {
    bottom: 17%;
    left: 40%;
  }
  .stepchart__item:nth-child(5) {
    bottom: 8%;
    right: 8%;
  }
}
.entry-content ol li.stepchart__item {
  list-style: none;
}
#home-inleiding .stepchart__description p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.stepchart__description {
  background: #fff;
  color: #004152;
  padding: 2rem;
}
.stepchart__description .cta {
  float: none;
}
.stepchart__description .btn--close {
  display: none;
}
@media only screen and (min-width: 650px) {
  .stepchart__description .btn--close {
    display: block;
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
}
@media only screen and (min-width: 650px) {
  .stepchart__description {
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 13.5rem;
    width: 40rem;
    left: 50%;
    margin-left: -20rem;
    text-align: center;
    padding: 2rem 4.5rem 3rem;
    z-index: 90;
  }
  .stepchart__description .cta {
    display: inline-block;
  }
  .stepchart__description:before,
  .stepchart__description:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 15px 0 15px;
    border-color: #fff transparent transparent transparent;
    bottom: 0;
    margin-bottom: -3rem;
    left: 50%;
    margin-left: -15px;
    speak: none;
  }
  .stepchart__description:before {
    z-index: -1;
    margin-left: -9px;
    border-top-color: rgba(0, 0, 0, 0.1);
  }
}
@media only screen and (min-width: 960px) {
  .stepchart__description {
    width: 50rem;
    margin-left: -25rem;
  }
}
.stepchart__title {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: 'league_gothicregular', Impact, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.stepchart__title + .description {
  margin-top: 1rem;
}
@media only screen and (min-width: 650px) {
  .stepchart__title {
    font-size: 42px;
    font-size: 4.2rem;
    margin: 1rem 1.5rem 0;
  }
}
.btn--stepchart {
  border: none;
  font-family: 'league_gothicregular', Impact, Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.btn--stepchart:hover,
.btn--stepchart:focus {
  background-color: none;
  border: none;
  outline: none;
}
@media only screen and (max-width: calc(650px - 1px)) {
  .btn--stepchart {
    font-size: 26px;
    font-size: 2.6rem;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #c42c76;
    background-size: 30px auto;
    padding: 1rem 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    width: 100%;
  }
  .btn--stepchart:after {
    content: " ";
    display: block;
    margin-left: auto;
    width: 3rem;
    height: 3.4rem;
    background: url(../images/arrow-down.svg) center center no-repeat;
    border: 0.1rem solid transparent;
    speak: none;
  }
  .btn--stepchart:hover,
  .btn--stepchart:focus {
    text-decoration: underline;
    background-color: #9a235d;
    color: #fff;
    border: none;
    outline: none;
  }
  .btn--stepchart:hover:after,
  .btn--stepchart:focus:after {
    background: transparent url(../images/arrow-down.svg) center center no-repeat;
    border-color: #fff;
  }
}
@media only screen and (min-width: 650px) {
  .btn--stepchart {
    background: none;
    width: 140px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5rem 0 0 0;
    position: relative;
    z-index: 5;
  }
  .btn--stepchart:before {
    content: " ";
    position: absolute;
    width: 8rem;
    height: 8rem;
    background: #A4E9E6;
    border-radius: 50%;
    z-index: -1;
    top: 0;
    left: 50%;
    margin-left: -4rem;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .btn--stepchart:hover,
  .btn--stepchart:focus {
    text-decoration: underline;
    background: none;
    color: #fff;
  }
  .btn--stepchart:hover:before,
  .btn--stepchart:focus:before {
    background: #fff;
  }
  .btn--stepchart:hover .icon--stepchart,
  .btn--stepchart:focus .icon--stepchart {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media only screen and (min-width: 960px) {
  .btn--stepchart:before {
    width: 9.6rem;
    height: 9.6rem;
    background: #A4E9E6;
    margin-left: -4.8rem;
  }
}
.icon--stepchart {
  width: 3rem;
  height: 3.5rem;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media only screen and (max-width: calc(650px - 1px)) {
  .icon--stepchart {
    margin-right: 1.5rem;
    fill: #fff;
  }
}
@media only screen and (min-width: 650px) {
  .icon--stepchart {
    width: 6rem;
    height: 5.5rem;
    fill: #52757e;
    position: relative;
  }
}
@media only screen and (min-width: 650px) {
  .btn__text {
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    color: white;
    background: #c42c76;
    margin-top: 0.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}
.section--text-blocks .l-section-content {
  max-width: calc(1180px + 3rem);
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
@media only screen and (min-width: 650px) {
  .section--text-blocks .l-section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section--text-blocks .l-section-content section {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media only screen and (min-width: 960px) {
  .section--text-blocks .l-section-content {
    margin: 5rem auto 0;
  }
}
.text-block {
  margin-top: 3rem;
}
.text-block p {
  max-width: 90%;
  margin: 1.8rem 0 0 0;
}
.text-block .btn {
  margin-top: 2rem;
  margin-right: 2rem;
}
.text-block--bg .text-block {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
@media only screen and (min-width: 650px) {
  .text-block--bg .text-block {
    padding: 3rem;
  }
}
.l-bg-white .text-block {
  background: #fff;
}
.l-bg-primary .text-block {
  background: #4c2974;
  color: #fff;
}
.l-bg-primary .text-block h2,
.l-bg-primary .text-block h3 {
  color: #fff;
}
.l-bg-primary .text-block .btn--primary {
  background: #fff;
  color: #004152;
}
.l-bg-primary .text-block .btn--primary:after {
  background-color: #D1DFE3;
  background-image: url('../images/arrow-right-blue.svg');
}
.l-bg-primary .text-block .btn--primary:hover,
.l-bg-primary .text-block .btn--primary:active,
.l-bg-primary .text-block .btn--primary:focus {
  background-color: #f1f5f6;
}
.l-bg-secondary .text-block {
  background: #c42c76;
  color: #fff;
}
.l-bg-secondary .text-block h2,
.l-bg-secondary .text-block h3 {
  color: #fff;
}
.l-bg-secondary .text-block .btn--primary {
  background: #fff;
  color: #004152;
}
.l-bg-secondary .text-block .btn--primary:after {
  background-color: #D1DFE3;
  background-image: url('../images/arrow-right-blue.svg');
}
.l-bg-secondary .text-block .btn--primary:hover,
.l-bg-secondary .text-block .btn--primary:active,
.l-bg-secondary .text-block .btn--primary:focus {
  background-color: #f1f5f6;
}
.text-block__title {
  font-size: 32px;
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 36px;
  font-family: 'league_gothicregular', Impact, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 960px) {
  .text-block__title {
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 44px;
  }
}
@media only screen and (max-width: calc(650px - 1px)) {
  .page-template-page_template_overzichtspagina .site-inner:before {
    height: 18rem;
  }
}
@media only screen and (max-width: calc(650px - 1px)) {
  .page-template-page_template_overzichtspagina .content-sidebar-wrap {
    padding-top: 8rem;
  }
}
.page-template-page_template_overzichtspagina .grid {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
@media only screen and (min-width: 960px) {
  .page-template-page_template_overzichtspagina .grid {
    margin: 3rem auto 0;
    max-width: calc(1180px + 3rem);
  }
}
.page-template-page_template_overzichtspagina .inleiding {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  background: #4c2974;
  padding: 2rem;
  color: #fff;
}
.page-template-page_template_overzichtspagina .inleiding h2,
.page-template-page_template_overzichtspagina .inleiding h3,
.page-template-page_template_overzichtspagina .inleiding a {
  color: #fff;
}
@media only screen and (min-width: 650px) {
  .page-template-page_template_overzichtspagina .inleiding {
    padding: 3rem 5rem;
  }
}
.page-template-page_template_overzichtspagina .entry-header,
.page-template-page_template_overzichtspagina .entry-content {
  max-width: 960px;
}
.page-template-page_template_overzichtspagina .entry-header + .entry-content {
  margin-top: 0;
  position: relative;
}
.page-template-page_template_overzichtspagina .entry-content {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (min-width: 650px) {
  .page-template-page_template_overzichtspagina .entry-content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.page-template-page_template_overzichtspagina .entry-content > * {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}
.site-inner {
  position: relative;
}
.site-inner:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: block !important;
  height: 24rem;
  background: #00b4ac;
}
@media only screen and (min-width: 960px) {
  .site-inner:before {
    height: 30rem;
  }
}
.site-inner .content-sidebar-wrap {
  position: relative;
}
@media only screen and (min-width: 650px) {
  .site-inner .content-sidebar-wrap {
    padding-top: 8rem;
  }
}
@media only screen and (min-width: 960px) {
  .site-inner .content-sidebar-wrap {
    padding-top: 14rem;
  }
}
.site-inner .btn--download {
  background-color: #c42c76;
}
.page-template:not(.page-template-page_template_overzichtspagina):not(.page-template-home-inclusie) .content,
.page-template-default .content {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (min-width: 960px) {
  .page-template:not(.page-template-page_template_overzichtspagina):not(.page-template-home-inclusie) .content,
  .page-template-default .content {
    padding-top: 5rem;
  }
}
.page-template-default .content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.single .page-intro ul {
  margin: 2rem 0 0;
  padding: 0;
}
.single .page-intro ul li {
  position: relative;
  list-style: none;
  padding: 0 0 0 2rem;
}
.single .page-intro ul li:before {
  content: " ";
  background: #fff;
  position: absolute;
  top: 1.1rem;
  left: 0;
  width: 0.4rem;
  height: 0.4rem;
  display: block;
}
.card--featured-image.brief {
  position: relative;
  overflow: hidden;
}
.card--featured-image.brief:before {
  content: " ";
  position: absolute;
  display: block;
  background: #f9f6f3;
  top: 0;
  left: 0;
  right: 0;
  height: 35rem;
}
.card--featured-image.brief .card__image {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  width: 18rem;
  height: 24rem;
  margin: 3rem auto 5rem;
  overflow: inherit;
  background: #fff;
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.card--featured-image.brief .card__image:before {
  display: none;
}
.card--featured-image.brief .card__content {
  position: relative;
  width: 100%;
  overflow: hidden;
  overflow: visible;
  z-index: 5;
}
.card--featured-image.brief .card__content:before {
  position: absolute;
  content: " ";
  background: #fff;
  speak: none;
  height: 5rem;
  left: 0;
  top: 0;
  width: 110%;
  margin-top: -2rem;
  margin-left: -2rem;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}
.card--featured-image.brief .card__content:before {
  z-index: -1;
  margin-top: -1rem;
}
.card--featured-image.beeld .card__content {
  padding-left: 2rem;
  padding-right: 2rem;
}
.card--featured-image.beeld .card__title {
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.8rem;
  border-top: 0.1rem solid #D1DFE3;
}
.card--featured-image.beeld .card__title a {
  padding-top: 1.2rem;
}
.card--featured-image.beeld .card__title a:hover .arrow-link__icon,
.card--featured-image.beeld .card__title a:focus .arrow-link__icon {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.card--featured-image.beeld .card__image {
  height: 12em;
  background-size: 60% auto;
}
.card--featured-image.beeld .card__image:before {
  display: none;
}
body .btn--primary {
  background: #c42c76;
}
body .btn--primary:after {
  background-color: #9a235d;
}
body .btn--primary:hover,
body .btn--primary:focus,
body .btn--primary:active {
  background-color: #9a235d;
}
body .btn--primary:hover:after,
body .btn--primary:focus:after,
body .btn--primary:active:after {
  background-color: #711944;
}
.archive.category .taxonomy-description {
  width: 90%;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  background: #4c2974;
  color: #fff;
  padding: 2rem;
  position: relative;
  z-index: 1;
}
.archive.category .taxonomy-description h1 {
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 650px) {
  .archive.category .taxonomy-description {
    padding: 3rem 4rem;
  }
}
.archive.category .archive-list {
  position: relative;
}
.archive.category .entry.enorm-huge {
  margin-top: -5rem;
}
@media only screen and (min-width: 960px) {
  .archive.category .entry.enorm-huge {
    margin-top: -8rem;
  }
}
.archive.category .entry.teaser {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.page-template .section--spotlight {
  position: relative;
  z-index: 5;
  padding-bottom: 5rem;
  margin-bottom: -5rem;
  padding-left: 0;
  padding-right: 0;
}
.page-template .section--spotlight:before,
.page-template .section--spotlight:after {
  z-index: -1;
}
.page-template .section--spotlight:before {
  position: absolute;
  content: " ";
  background: #e8d8c7;
  speak: none;
  height: 8rem;
  left: 0;
  right: 0;
  top: 20rem;
  margin-left: -1000rem;
  margin-right: -1000rem;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}
.page-template .section--spotlight:after {
  position: absolute;
  content: " ";
  background: #e8d8c7;
  speak: none;
  left: 0;
  right: 0;
  top: 25rem;
  bottom: 0;
  margin-left: -1000rem;
  margin-right: -1000rem;
}
@media only screen and (min-width: 960px) {
  .page-template .section--spotlight {
    padding-bottom: 8rem;
  }
}
@media only screen and (min-width: 1200px) {
  .page-template .section--spotlight {
    padding-bottom: 12rem;
  }
}
.single-stap .content-sidebar-wrap {
  padding-top: 0;
}
.single-stap #maincontent {
  position: relative;
}
.single-stap #maincontent:before {
  content: " ";
  position: absolute;
  background: #00b4ac;
  left: 0;
  right: 0;
  top: 0;
  height: 30rem;
  display: block;
}
@media only screen and (min-width: 960px) {
  .single-stap #maincontent:before {
    height: 44rem;
  }
}
.single-stap .site-inner header {
  padding: 0;
  margin: 0;
}
.single-stap .inleiding {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: #4c2974;
  color: #fff;
  padding: 2rem;
}
.single-stap .inleiding nav {
  margin-top: -2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: 2rem;
  background: #3D205F;
}
.single-stap .inleiding nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}
.single-stap .inleiding nav ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  list-style: none;
  padding: 1rem 1rem 1rem 0;
}
.single-stap .inleiding nav ul li:before {
  display: none;
}
.single-stap .inleiding nav ul li a {
  color: #BAAACC;
  font-family: 'montserratbold', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 1rem 1rem 1rem 2rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.single-stap .inleiding nav ul li a:after {
  content: " ";
  display: block;
  position: absolute;
  background: #c42c76;
  left: 2rem;
  right: 1rem;
  height: 0.3rem;
  bottom: 0.1rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.single-stap .inleiding nav ul li:hover,
.single-stap .inleiding nav ul li a:hover,
.single-stap .inleiding nav ul li a:focus,
.single-stap .inleiding nav ul li a:active,
.single-stap .inleiding nav ul li[aria-current="page"] {
  color: #fff;
}
.single-stap .inleiding nav ul li:hover:after,
.single-stap .inleiding nav ul li a:hover:after,
.single-stap .inleiding nav ul li a:focus:after,
.single-stap .inleiding nav ul li a:active:after,
.single-stap .inleiding nav ul li[aria-current="page"]:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.single-stap .inleiding nav ul li[aria-current="page"],
.single-stap .inleiding nav ul li:hover {
  background: #4c2974;
}
.single-stap .inleiding nav ul li[aria-current="page"] a,
.single-stap .inleiding nav ul li:hover a {
  color: #fff;
}
.single-stap .inleiding nav ul li[aria-current="page"] a:after,
.single-stap .inleiding nav ul li:hover a:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media only screen and (min-width: 960px) {
  .single-stap .inleiding {
    padding: 3rem 5rem;
  }
  .single-stap .inleiding nav {
    margin-top: -3rem;
    margin-left: -5rem;
    margin-right: -5rem;
    margin-bottom: 3rem;
  }
  .single-stap .inleiding nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .single-stap .inleiding nav ul li {
    padding: 0;
  }
  .single-stap .inleiding nav ul li a {
    display: block;
    font-size: 20px;
    font-size: 2rem;
    padding: 2.5rem 5rem;
  }
  .single-stap .inleiding nav ul li a:after {
    left: 5rem;
    right: 5rem;
    bottom: 1.8rem;
  }
  .single-stap .inleiding nav ul li a:hover,
  .single-stap .inleiding nav ul li a:focus,
  .single-stap .inleiding nav ul li a:active {
    background: #4c2974;
    color: #fff;
  }
}
.single-stap .content-sidebar-wrap {
  padding: 0;
  position: relative;
}
.single-stap .content-sidebar-wrap > .content {
  padding: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.single-stap .content .entry {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #fff;
}
@media only screen and (min-width: 650px) {
  .single-stap .content .entry {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.single-stap .l-content-menu-wrapper {
  display: none;
}
.single-stap .section__title {
  border-color: #e8d8c7;
}
.single-stap .section + .section,
.single-stap .extra-content + .section {
  margin-top: 3rem;
}
@media only screen and (min-width: 960px) {
  .single-stap .section + .section,
  .single-stap .extra-content + .section {
    margin-top: 8rem;
  }
}
.single-stap .item-list__item {
  border-color: #e8d8c7;
}
.single-stap .content-sidebar-wrap {
  padding-bottom: 3rem;
}
@media only screen and (min-width: 960px) {
  .single-stap .content-sidebar-wrap {
    padding-bottom: 10rem;
  }
}
.single-stap .content .entry {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.single-stap .section__title {
  border-color: #D1DFE3;
}
.single-stap .section {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
.single-stap .section + .section {
  margin-top: 0;
  padding-top: 3rem;
}
@media only screen and (min-width: 960px) {
  .single-stap .section + .section {
    padding-top: 10rem;
  }
}
.single-stap .section--related-content {
  position: relative;
  z-index: 5;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 1;
}
.single-stap .section--related-content:before,
.single-stap .section--related-content:after {
  z-index: -1;
}
.single-stap .section--related-content:before {
  position: absolute;
  content: " ";
  background: #f9f6f3;
  speak: none;
  height: 8rem;
  left: 0;
  right: 0;
  top: 20rem;
  margin-left: -1000rem;
  margin-right: -1000rem;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}
.single-stap .section--related-content:after {
  position: absolute;
  content: " ";
  background: #f9f6f3;
  speak: none;
  left: 0;
  right: 0;
  top: 25rem;
  bottom: 0;
  margin-left: -1000rem;
  margin-right: -1000rem;
}
@media only screen and (min-width: 960px) {
  .single-stap .section--related-content {
    padding-bottom: 8rem;
  }
}
.single-stap .section--related-content + .section {
  position: relative;
  z-index: 1;
  background: #fff;
  padding-top: 5rem;
}
.single-stap .section--page-children {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  margin: 3rem -1.5rem -3rem;
  padding-bottom: 3rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 5;
}
@media only screen and (min-width: 650px) {
  .single-stap .section--page-children {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.single-stap .section--page-children .bg {
  position: relative;
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0rem;
  overflow: hidden;
  z-index: -1;
}
.single-stap .section--page-children .bg:before,
.single-stap .section--page-children .bg:after {
  z-index: -1;
}
.single-stap .section--page-children .bg:before {
  position: absolute;
  content: " ";
  background: #f9f6f3;
  speak: none;
  height: 8rem;
  left: 0;
  right: 0;
  top: 20rem;
  margin-left: -1000rem;
  margin-right: -1000rem;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}
.single-stap .section--page-children .bg:after {
  position: absolute;
  content: " ";
  background: #f9f6f3;
  speak: none;
  left: 0;
  right: 0;
  top: 25rem;
  bottom: 0;
  margin-left: -1000rem;
  margin-right: -1000rem;
}
@media only screen and (min-width: 650px) {
  .single-stap .section--page-children {
    margin-right: -3rem;
    margin-left: -3rem;
  }
}
@media only screen and (min-width: 960px) {
  .single-stap .section--page-children {
    margin-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .single-stap .section--page-children .grid {
    margin-left: -14rem;
    margin-right: -14rem;
  }
}
.single-stap .section:last-child {
  padding-bottom: 8rem;
}
@media only screen and (min-width: 960px) {
  .single-stap .section:last-child {
    padding-bottom: 10rem;
  }
}
.page-template-home-inclusie.full-width-content .site-inner,
.page-template-home-inclusie.full-width-content .content-sidebar-wrap {
  max-width: none;
  padding: 0;
}
.page-template-home-inclusie.full-width-content .content {
  float: none;
}
.page-template-home-inclusie.full-width-content .site-inner {
  padding-bottom: 3rem;
}
@media only screen and (min-width: 960px) {
  .page-template-home-inclusie.full-width-content .site-inner {
    padding-bottom: 5rem;
  }
}
.page-template-home-inclusie.full-width-content .region--intro {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 2rem;
  line-height: 3.2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 5;
}
@media only screen and (min-width: 650px) {
  .page-template-home-inclusie.full-width-content .region--intro {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.page-template-home-inclusie.full-width-content .entry__intro {
  position: relative;
  z-index: 1;
}
.page-template-home-inclusie.full-width-content .type-page.entry {
  background: #00b4ac;
}
@media only screen and (min-width: 960px) {
  .page-template-home-inclusie.full-width-content .type-page.entry {
    padding-top: 10rem;
  }
}
.page-template-home-inclusie.full-width-content .region--intro {
  z-index: auto;
}
.page-template-home-inclusie.full-width-content #home_template_teasers {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: #e8d8c7;
  position: relative;
  z-index: 1;
  padding-top: 0.1rem;
  padding-bottom: 3rem;
  max-width: none;
  margin-top: 0;
}
.page-template-home-inclusie.full-width-content #home_template_teasers .text-block {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  background: #4c2974;
  padding: 2rem;
  color: #fff;
}
@media only screen and (min-width: 650px) {
  .page-template-home-inclusie.full-width-content #home_template_teasers {
    padding-top: 0;
  }
  .page-template-home-inclusie.full-width-content #home_template_teasers .grid {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-template-home-inclusie.full-width-content #home_template_teasers .grid section {
    margin-top: -7rem;
  }
}
@media only screen and (min-width: 960px) {
  .page-template-home-inclusie.full-width-content #home_template_teasers {
    padding-bottom: 7rem;
  }
  .page-template-home-inclusie.full-width-content #home_template_teasers .text-block {
    padding: 3rem;
  }
}
.page-template-home-inclusie.full-width-content .section--overview {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (min-width: 650px) {
  .page-template-home-inclusie.full-width-content .section--overview {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.page-template-home-inclusie.full-width-content .section--overview:not(.l-item-count-2):not(.l-item-count-1) .l-section-top {
  max-width: 1180px;
}
.page-template-home-inclusie.full-width-content .section--overview .section__title {
  border: none;
}
.single-beeld .content,
.single-brief .content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding-left: 2rem;
  padding-right: 2rem;
  background: #fff;
  padding-top: 3rem;
  overflow: hidden;
}
@media only screen and (min-width: 650px) {
  .single-beeld .content,
  .single-brief .content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media only screen and (min-width: 960px) {
  .single-beeld .content,
  .single-brief .content {
    padding-top: 5rem;
  }
}
.single-beeld .entry-header,
.single-brief .entry-header,
.single-beeld .entry-content,
.single-brief .entry-content {
  padding-left: 0;
}
.single-beeld .entry-content,
.single-brief .entry-content {
  padding-bottom: 2rem;
}
@media only screen and (min-width: 650px) {
  .single-beeld .entry-content,
  .single-brief .entry-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .single-beeld .entry-content .lightbox,
  .single-brief .entry-content .lightbox {
    width: 45%;
  }
  .single-beeld .entry-content .entry-content-inner,
  .single-brief .entry-content .entry-content-inner {
    width: 55%;
    padding-left: 3rem;
  }
}
@media only screen and (min-width: 960px) {
  .single-beeld .entry-content,
  .single-brief .entry-content {
    padding-bottom: 5rem;
    padding-top: 2rem;
  }
  .single-beeld .entry-content .entry-content-inner,
  .single-brief .entry-content .entry-content-inner {
    padding-left: 5.5rem;
  }
  .single-beeld .entry-content .lightbox,
  .single-brief .entry-content .lightbox {
    width: 34rem;
  }
  .single-beeld .entry-content .entry-content-inner,
  .single-brief .entry-content .entry-content-inner {
    width: calc(100% - 34rem);
    padding-left: 3rem;
  }
}
.single-beeld .lightbox img,
.single-brief .lightbox img {
  border: 0.1rem solid #D1DFE3;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.single-beeld .lightbox .tobi-zoom__icon,
.single-brief .lightbox .tobi-zoom__icon {
  margin-bottom: -0.3rem;
}
.single-beeld .section--overview,
.single-brief .section--overview,
.single-beeld .section--related,
.single-brief .section--related {
  position: relative;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding-bottom: 5rem;
}
.single-beeld .section--overview:before,
.single-brief .section--overview:before,
.single-beeld .section--related:before,
.single-brief .section--related:before,
.single-beeld .section--overview:after,
.single-brief .section--overview:after,
.single-beeld .section--related:after,
.single-brief .section--related:after {
  z-index: -1;
}
.single-beeld .section--overview:before,
.single-brief .section--overview:before,
.single-beeld .section--related:before,
.single-brief .section--related:before {
  position: absolute;
  content: " ";
  background: #f9f6f3;
  speak: none;
  height: 8rem;
  left: 0;
  right: 0;
  top: 20rem;
  margin-left: -1000rem;
  margin-right: -1000rem;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}
.single-beeld .section--overview:after,
.single-brief .section--overview:after,
.single-beeld .section--related:after,
.single-brief .section--related:after {
  position: absolute;
  content: " ";
  background: #f9f6f3;
  speak: none;
  left: 0;
  right: 0;
  top: 25rem;
  bottom: 0;
  margin-left: -1000rem;
  margin-right: -1000rem;
}
.single-beeld .section--overview:not(.l-item-count-3),
.single-brief .section--overview:not(.l-item-count-3),
.single-beeld .section--related:not(.l-item-count-3),
.single-brief .section--related:not(.l-item-count-3) {
  max-width: 770px;
}
@media only screen and (min-width: 650px) {
  .single-beeld .section--overview.l-item-count-3,
  .single-brief .section--overview.l-item-count-3,
  .single-beeld .section--related.l-item-count-3,
  .single-brief .section--related.l-item-count-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 960px) {
  .single-beeld .section--overview,
  .single-brief .section--overview,
  .single-beeld .section--related,
  .single-brief .section--related {
    padding-bottom: 8rem;
  }
}
.single-beeld .tobi__slider__slide__content > figure > figcaption,
.single-brief .tobi__slider__slide__content > figure > figcaption {
  font-size: 1.4rem;
  color: #52757e;
  padding: 0.8rem 1.5rem;
  border-top: 0.1rem solid #D1DFE3;
  width: auto;
  right: 0;
  font-family: 'montserratsemibold', Helvetica, Arial, sans-serif;
}
.single-beeld .download-box,
.single-brief .download-box {
  margin-top: 3rem;
}
@media only screen and (min-width: 650px) {
  .single-beeld .download-box,
  .single-brief .download-box {
    margin-top: 0;
  }
}
.post-template-default.single-post .content-sidebar-wrap {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 650px) {
  .post-template-default.single-post .content-sidebar-wrap {
    padding-top: 8rem;
  }
}
@media only screen and (min-width: 960px) {
  .post-template-default.single-post .content-sidebar-wrap {
    padding-top: 14rem;
  }
}
.post-template-default.single-post .site-inner:before {
  height: 18rem;
}
@media only screen and (min-width: 960px) {
  .post-template-default.single-post .site-inner:before {
    height: 40rem;
  }
}
.post-template-default.single-post .content:before {
  margin-top: -3rem;
  margin-bottom: -5rem;
}
@media only screen and (min-width: 650px) {
  .post-template-default.single-post .content:before {
    margin-top: -8rem;
    margin-bottom: -8rem;
  }
}
@media only screen and (min-width: 960px) {
  .post-template-default.single-post .content:before {
    margin-top: -14rem;
    margin-bottom: -12rem;
  }
}
.post-template-default.single-post .type-post {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}
@media only screen and (min-width: 960px) {
  .post-template-default.single-post .type-post {
    padding-top: 5rem;
    padding-bottom: 8rem;
  }
}
.card--type-brief {
  position: relative;
  overflow: hidden;
}
.card--type-brief .card__image {
  background: #f9f6f3;
  padding: 3rem 0 4rem;
  text-align: center;
  height: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card--type-brief .card__image img {
  width: 18rem;
  height: auto;
  -o-object-fit: unset;
     object-fit: unset;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.card--type-brief .card__content {
  position: relative;
  width: 100%;
  overflow: hidden;
  overflow: visible;
  z-index: 5;
}
.card--type-brief .card__content:before {
  position: absolute;
  content: " ";
  background: #fff;
  speak: none;
  height: 5rem;
  left: 0;
  top: 0;
  width: 110%;
  margin-top: -2rem;
  margin-left: -2rem;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}
.card--type-brief .card__content:before {
  z-index: -1;
  margin-top: -1rem;
}
.card--type-beeld .card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 14rem;
}
.card--type-beeld .card__image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: auto;
  max-width: 10rem;
}
.card--type-beeld .card__image:before {
  display: none;
}
.card--type-beeld .card__content {
  padding: 0 2rem 1.5rem;
}
.card--type-beeld h2,
.card--type-beeld h3 {
  border-top: 0.1rem solid #D1DFE3;
  font-size: 2rem;
  line-height: 2.8rem;
}
.card--type-beeld h2 .arrow-link__icon,
.card--type-beeld h3 .arrow-link__icon {
  padding: 0;
  border: none;
  width: 3rem;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
}
.card--type-beeld h2 a:hover .arrow-link__icon,
.card--type-beeld h3 a:hover .arrow-link__icon,
.card--type-beeld h2 a:focus .arrow-link__icon,
.card--type-beeld h3 a:focus .arrow-link__icon,
.card--type-beeld h2 a:active .arrow-link__icon,
.card--type-beeld h3 a:active .arrow-link__icon {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: -1.2rem;
}
/*
---------------------------------------------------------------------------------------------------- */
body {
  background: #f2ebe4;
}
#maincontent {
  background-color: #f2ebe4;
}
.myflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.myflex .flex-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0;
}
.myflex .flex-item img {
  border: 1px solid #D1DFE3;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
