.single-beeld,
.single-brief {
  .content {
    .gc-content-container;
    .gc-box-shadow;
    background: @white;
    padding-top: 3rem;
    overflow: hidden;

    @media @desktop {
      padding-top: 5rem;
    }
  }

  .entry-content {
    padding-bottom: 2rem;

    @media @tablet {
      display: flex;
      align-items: flex-start;

      .lightbox {
        width: 34rem;
      }

      .entry-content-inner {
        width: calc(100% - 34rem);
        padding-left: @gutter;
      }
    }

    @media @desktop {
      padding-bottom: 5rem;

      .entry-content-inner {
        padding-left: 5.5rem;
      }
    }
  }

  .lightbox {
    img {
      border: .1rem solid @border_color;
      .gc-box-shadow;
    }

    .tobi-zoom__icon {
      margin-bottom: -.3rem;
    }
  }
  
  .section--overview {
    .gc-rotated-bg(@gc_pantybrown_xlight);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-bottom: 5rem;


    &:not(.l-item-count-3){
      max-width: @max-width-inner;
    }

    &.l-item-count-3 {
      .gc-padding;
    }

    @media @desktop {
      padding-bottom: 8rem;
    }
  }

  .tobi__slider__slide__content > figure > figcaption {
    font-size: @font_small;
    color: @meta_color;
    padding: .8rem 1.5rem;
    border-top: .1rem solid @border_color;
    width: auto;
    right: 0;
    font-family: @font_primary_semi;
  }
}


