.page-template-home-inclusie.full-width-content {
  .stepchart_page(@brand_color);
}

.single-stap {
  .gc-page-step(@bg_page: @brand_color);

  .content-sidebar-wrap {
    padding-bottom: 3rem;

    @media @desktop {
      padding-bottom: 10rem;
    }
  }

  .content .entry {
    .gc-box-shadow;
  }

  .section__title {
    border-color: @border_color;
  }

  .section {
    .gc-box-shadow;
    .gc-content-container;
    background: @white;

    + .section {
      margin-top: 0;
      padding-top: 3rem;

      @media @desktop {
        padding-top: 10rem;
      }
    }

    &--related-content {
      .gc-rotated-bg(@bg: @gc_pantybrown_xlight);
      overflow: hidden;
      padding-bottom: 3rem;
      z-index: 1;

      @media @desktop {
        padding-bottom: 8rem;
      }

      + .section {
        position: relative;
        z-index: +1;
        background: @white;
      }
    }


    &:last-child {
      padding-bottom: 8rem;

      @media @desktop {
        padding-bottom: 10rem;
      }
    }
  }
}